@charset "utf-8";
        @font-face {
            font-family: 'S-CoreDream-3 Light';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'S-CoreDream-9 Light';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Light.woff');
            font-weight: bold;
        }

        @font-face {
            font-family: 'SBAggroB';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "GT-Flexa";
            src: url("https://assets.codepen.io/61488/GT-Flexa-VF-Trial.woff2");
            font-display: block;
            font-style: normal italic;
            font-weight: 100 800;
            font-stretch: 10% 200%;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            list-style: none;
        }

        a,
        span,
        em,
        strong {
            text-decoration: none;
            font-family: 'S-CoreDream-3 Light';

        }

        h1,
        h2,
        h3 {
            font-family: 'S-CoreDream-3 Light';
        }




        .clearfix::after,
        .clearfix::before {
            content: "";
            display: block;
            clear: both;
        }

        .container {
            width: 1400px;
            height: inherit;
            margin: 0 auto;
            text-align: center;
        }



        /* ν—¤λ” */
        #header {
            width: 100%;
            height: 100px;
            background-color: #FADFC6;
            position: fixed;
            top: 0;
            z-index: 1;
            box-shadow: 0px 3px 5px rgb(240, 118, 4);
        }

        #header .logo {
            text-align: center;
            width: 100%;
            height: 100px;
        }

        #rank {
            width: 100%;
            height: calc(100vh - 100px);
            text-align: center;
            
        }
#banner{}
#contents{}
#footer{}



.bannder {
  margin-top: 140px;
  background: #f27c25;
  /* height: 300px; */
  color: white;
  /* padding: 40px; */
  display: flex;
  align-items: center;
  padding-left: 40px;
  justify-content: space-between;
  position: relative;
}

.bannder .logo {
  height: 50px;
}

.bannder .bannder-text {
   font-family: 'BinggraeMelona-Bold';
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  width: 49%;

}
.bannder .img{
  width: 49%;
  margin: 5%;

}
.bannder .img img{
  width: 100%;
}
.bannder-text > strong{
  font-size: 78px;
}
.bannder img{}

.content {
  background-color: #f8f5e8;
  padding: 60px 100px;
  text-align: center;
}

.sub-text {
  font-size: 20px;
  color: #333;
}

.content h2 {
   font-family: 'GangwonEduPowerExtraBoldA';
  font-size: 48px;
  margin: 20px 0 50px;
}

.highlight {
  color: #f4711f;
}

.coupon-boxes {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 40px;
}
.coupon-boxe img{}
 

.coupon {
  /* background: #f4711f; */
  background-size: cover;
  color: white;
  width: 300px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  
}
.coupon  img{
 /* width: 100%; */
}

.coupon .percent {
  font-size: 36px;
  margin-bottom: 10px;
}

.coupon-button {
  background: white;
  border: 2px solid #f4711f;
  color: #f4711f;
  font-weight: bold;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.coupon-button button{
  
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.coupon-button:hover {
      background: #f4711f;
      
    }
.coupon-button:hover button{
  color: #fff;
}
.notice {
  border-top: 1px solid #f4711f;
  padding: 20px;
  margin-top: 30px;
  font-size: 16px;
  color: #333;
}

.notice strong {
  color: #f4711f;
}

.small-text {
  color: #888;
  font-size: 14px;
}
















 /* ν‘Έν„° */
        #footer {
            margin-top: 30px;
            width: 100%;
            height: 250px;
            /* background-color: #eed8d8; */
            border-top: 4px solid #FADFC6;
            position: relative;
            
        }


        #footer .f_logo {
            position: absolute;
            top: 0;
            left: 15%;
            z-index: 1;
        }

        #footer .f_logo img {
            width: 200px;
            height: 100px;
            display: block;
            margin-top: 80px;

        }

        #footer .f_asid {
            /* float: left; */
            /* background-color: aquamarine; */
            width: 100%;
            height: inherit;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

        #footer .f_asid .f_menu ul {
            display: flex;
            width: 100%;
            /* background-color: lightyellow; */
            padding: 30px;
            padding-left: 40%;
        }

        #footer .f_asid .f_menu ul>li {}

        #footer .f_asid .f_menu ul>li>a {
            height: 50px;
            /* background-color: lightcoral; */
            color: #333;
            font-size: 14px;
            border-right: 1px solid black;
            padding: 0 20px;
        }

        #footer .f_asid .f_menu ul>li:last-child>a {
            border-right: none;
        }

        #footer .f_asid span {
            font-size: 13px;
            border-right: 1px solid black;
            padding-right: 10px;
        }

        #footer .f_asid span:nth-of-type(3) {
            border-right: none;
        }

        #footer .f_asid span:nth-of-type(6) {
            border-right: none;
        }

        #footer .f_asid span:last-child {
            border-right: none;
        }

        #footer .f_asid .f_cont {}

        #footer .f_asid .f_copy {
            margin-top: 30px;
        }
